/**************************
*	Table of contents:
*	_0 = Base structure
*	_1 = Header
*	_2 = Sidebar
*	_3 = Games
*	_4 = Game detail
*	_5 = Library
*	_6 = RangeSlider	
**************************/

/**************************
*	CREDIT:
*	Sidebar and Header contain CSS from a Bootstrap example:
*	http://getbootstrap.com/examples/dashboard/	
**************************/

/**************************
*	_0 = BASE STRUCTURE
**************************/

body {
	padding-top: 50px; /* because of the fixed sidebar */
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background: #f9f9f9;
	font-size: 16px;
	font-size: 1.6rem;
}

a {
	color: #EB7B59;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

.main {
	padding: 25px;
	padding: 2.5rem;
}

/**************************
*	_1 = HEADER 			
**************************/

.navbar-fixed-top {
	border: 0;
}

.navbar {
	background: #f9f9f9;
	border-bottom: 1px solid #e5e5e5;
}

.navbar-nav > li > a {
	padding: 1.5rem 2.5rem;
}

.navbar-toggle {
	background: #f9f9f9;
	border: 1px solid #e5e5e5;
}

.icon-bar {
	background: #EB7B59;
}

.navbar-collapse {
	padding-left: 30px;
	padding-right: 30px;
}

@media (min-width: 992px) {
	.navbar-header {
		/*background: #283340;*/
		border-right: 1px solid #e5e5e5;
	}
}

.navbar-logo {
	max-width: 4.5rem;
	float: left;
	margin-right: 1rem;
	margin-top: -1.1rem;
}


/**************************
*	_2 = Sidebar 			
**************************/

.sidebar {
	background: #283340;
	color: #e5e5e5;
	padding: 20px;
	padding: 2rem;
}
@media (min-width: 992px) {
	.sidebar {
		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		border-right: 1px solid #e5e5e5;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	}
}

/* Sidebar filters */

.sidebar-filter {
	padding: 40px 0;
	padding: 4rem 0;
	border-bottom: 1px solid #e5e5e5;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-filter:last-child {
	border: none;
}
.sidebar-filter:first-child {
	padding-top: 0;
}
.sidebar-heading {
	font-size: 18px;
	font-size: 1.8rem;
	margin: 10px;
}
.filter-toggle {
	float: right;
	color: #EB7B59;
	color: rgba(235, 123, 89, 0.8);
	font-size: 12px;
	font-size: 1.2rem;
	margin: 5px 0px 0px;
}

/* Complexity filter */

.complexity-icon {
	fill: #ffffff; /* this is for the svg icons */
	margin: 20px 0;
}
.complexity-link.active {
	color: #EB7B59;
	fill: #EB7B59; /* this is for the svg icons */
}
.complexity-link {
	margin: 0 auto;
	color: #e5e5e5;
	text-align: center;
}
.complexity-link:hover {
	color: #EB7B59;
	fill: #EB7B59; /* this is for the svg icons */
}
.complexity-icon-all {
	font-size: 3.5rem;
}

/* Sidebar profile */

.profile-image {
	max-width: 100%;
	float: none;
	margin: 4rem auto;
	display: block;
}

.sidebar-game-cover {
	background: url('../img/games/dixit.jpg') no-repeat transparent; /* temporary game cover */
	background-size: cover;
	background-position: center center;
	height: 18rem;
}

.sidebar-game-cover-heading {
	position: relative;
	/*top: 97%;*/
	padding: 10px;
	padding: 1rem;
	color: #ffffff;
	background: #283340;
	background: none repeat scroll 0% 0% rgba(40, 51, 64, 0.8);
}

.sidebar-game-detail {
	padding: 30px 0;
	padding: 3rem 0;
	border-bottom: 1px solid #e5e5e5;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-game-detail:last-child {
	border: none;
}

.game-sidebar-list {
	margin: 0 10px;
	margin: 0 1rem;
	font-size: 22px;
	font-size: 2.2rem;
}

.game-sidebar-icon {
	float: right;
}

/**************************
*	_3 = Games
**************************/

/* .accordion-filter-toggle {
	text-transform: uppercase;
	font-size: 14px;
	font-size: 1.4rem;
	}*/

.page-heading {
	margin-top: 0;
	margin-bottom: 2rem;
}

.games-filter-number {
	font-size: 18px;
	font-size: 1.8rem;
}

.question-filter {
	padding-bottom: 5rem;
}

.question-navigation-back,
.question-navigation-skip {
	font-size: 1.4rem;
	padding: 5rem 0;
}

.question-navigation-skip {
	padding-left: 3rem;
}

.question-navigation-back {
	padding-right: 3rem;
}

.question-link-back {
	float: right;
}

.question-link-text {
	display: none;
}

@media (min-width: 728px) {
	.question-link-text {
		display: inline; /* show Back and Skip labels only when screen is big enough */
	}
}

.question-text {
	margin: 1rem 1rem 3rem 1rem;
	min-height: 5rem;
}

.btn-yes, .btn-no {
	color: #ffffff;
	border: none;
}

.btn-yes {
	background-color: #EB7B59;
	background-color: rgba(235,123,89, 0.9);
	border-right: 1px solid #E5E5E5;
}
.btn-no {
	background: #283340;
	background: rgba(40, 51, 64, 0.9);
}

.btn-yes:hover, .btn-yes:active, .btn-yes:focus,
.btn-no:hover, .btn-no:active, .btn-no:focus {
	color: #ffffff;	
}

.btn-yes:hover, .btn-yes:active, .btn-yes:focus {
	background-color: rgba(235,123,89, 1);
}

.btn-no:hover, .btn-no:active, .btn-no:focus {
	background: rgba(40, 51, 64, 1);
}

.game-add-button, .game-check-button {
	color: #3EA571; /* green */
}

.game-remove-button {
	color: #eb597f; /* redish */
}

.game-card {
	float: none;
	display: inline-block;
	vertical-align: middle;
}

.game-year {
	font-size: 12px;
	font-size: 1.2rem;
}

.game-name {
	text-align: center;
}

.thumbnail {
	border-color: #e5e5e5;
	padding: 0;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
	border-color: #EB7B59;
}

.game-img {
	max-width: 12rem !important; /* overrides bootstrap thumbnail width */
}

.progress {
	margin-bottom: 0;
}
.progress-bar {
	box-shadow: none;
}

/* Colors for progress bar and labels */

.progress-bar-success,
.label-success {
	background-color: #3EA571; /* green */
}
.progress-bar-warning,
.label-warning {
	background-color: #ebc559; /* yellow */
}
.progress-bar-danger,
.label-danger {
	background-color: #eb597f; /* redish */
}

/**************************
*	_4 = Game detail
**************************/

.game-detail-name, .game-detail-info {
	padding: 30px 0;
	padding: 3rem 0;
}

.game-detail-name {
	border-bottom: 1px solid #e5e5e5;
	padding-top: 0;
	padding-bottom: 20px;
	padding-bottom: 2rem;
}

.game-rating {
	color: #ebc559; /* yellow */
}

.game-detail-heading {
	margin: 2rem 0 0.5rem 0;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
}

.game-detail-list {
	padding: 0;
}

.game-detail-img, .game-details {
	margin-top: 20px;
	margin-top: 2rem;
}

/**************************
*	_5 = Library
**************************/

.shelf {
	border-radius: 4px;
	padding: 0px 2rem;
	margin: 3rem 0px;
	border: 1px solid #EB7B59;
	border: 1px solid rgba(235, 123, 89, 0.8);
	transition: all 0.3s ease-in-out;
}

.shelf-label {
	margin: 2rem 0;
}

.on-drag-enter {
	background: rgba(235,123,89, 0.9); /* orange */
	border: 1px dashed #e5e5e5;
}

.on-drag-enter .shelf-label {
	color: #ffffff;
}

.on-drag-enter.on-drag-hover {
	background: rgba(62,165,113, 0.9); /* green */
}

.drop-forbidden {
	display: none;
	font-size: 1.6rem;
}

#shelf-0.on-drag-enter.on-drag-hover {
	background: rgba(235,89,127, 0.9);
}
#shelf-0.on-drag-enter.on-drag-hover .drop-forbidden {
	display: inline;
}

.game-move:hover, .game-move:focus, .game-move:active {
	cursor: move;
}

.shelf-input {
	margin: 1rem 0;
	padding: 0.5rem;
}

.shelf-new-button {
	background: #EB7B59;
	background: none repeat scroll 0% 0% rgb(235,123,89);
	color: #FFF;
	padding: 1rem 1.5rem;
	border-radius: 4px;
}

.shelf-new-button:hover, .shelf-new-button:active, .shelf-new-button:focus {
	cursor: pointer;
}

/**************************
*	_6 = RangeSlider
**************************/

/**
*  Angular RangeSlider SCSS
* 
*  Version: 0.0.13
*
*  Author: Daniel Crisp, danielcrisp.com
*
*  The rangeSlider has been styled to match the default styling
*  of form elements styled using Twitter's Bootstrap
* 
*  Originally forked from https://github.com/leongersen/noUiSlider
*

This code is released under the MIT Licence - http://opensource.org/licenses/MIT

Copyright (c) 2013 Daniel Crisp

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

*/
/*------------------------------------*\
COMPASS IMPORTS
\*------------------------------------*/
/*------------------------------------*\
SETTINGS
\*------------------------------------*/
/*------------------------------------*\
THE CSS
\*------------------------------------*/
/* line 25, scss/_rangeSlider.scss */
.ngrs-range-slider {
	position: relative;
	margin: 30px 10px;
	padding: 2px 0;
	background-color: #d3d3d3;
	border-radius: 4px;
/*border: 1px solid #ccc;
background: #fff;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-transition: border 0.2s linear, box-shadow 0.2s linear;
-o-transition: border 0.2s linear, box-shadow 0.2s linear;
-webkit-transition: border 0.2s linear, box-shadow 0.2s linear;
transition: border 0.2s linear, box-shadow 0.2s linear;
-webkit-tap-highlight-color: transparent;*/
/*------------------------------------*\
  RUNNER
  \*------------------------------------*/
/*------------------------------------*\
  JOIN (connects the two handles)
  \*------------------------------------*/
/*------------------------------------*\
  HANDLE
  \*------------------------------------*/
/*------------------------------------*\
  HANDLE SPECIFICS
  \*------------------------------------*/
/*------------------------------------*\
  VALUE LABELS
  \*------------------------------------*/
/*------------------------------------*\
  ATTACHED VALUE RUNNER
  \*------------------------------------*/
/*------------------------------------*\
  VERTICAL SLIDER
  \*------------------------------------*/
/*------------------------------------*\
  FOCUS STATE
  \*------------------------------------*/
/*------------------------------------*\
  DISABLED STATE
  \*------------------------------------*/
}
/* line 28, scss/_rangeSlider.scss */
.ngrs-range-slider, .ngrs-range-slider * {
	display: block;
	cursor: default;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
/* line 53, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-runner {
	position: relative;
	margin: 0;
	/*height: 18px;*/
}
/* line 63, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-join {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 0;
	right: 100%;
	height: 4px;
	margin: -2px 0 0 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #EB7B59;
/*background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViYzBkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJmOTZiNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background-size: 100%;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bc0de), color-stop(100%, #2f96b4));
background-image: -moz-linear-gradient(#5bc0de, #2f96b4);
background-image: -webkit-linear-gradient(#5bc0de, #2f96b4);
background-image: linear-gradient(#5bc0de, #2f96b4);*/
}
/* line 81, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle {
	position: absolute;
	z-index: 2;
	height: 20px;
	width: 20px;
	margin: -10px 0 0 -9px;
	background: #EB7B59;
/*  border: 1px solid #ccc;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;*/
border-radius: 30px;
/*------------------------------------*\
  HANDLE ICON
  \*------------------------------------*/
}
/* line 95, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle i {
	display: block;
	width: 100%;
	height: 100%;
	background: no-repeat -9999px -9999px;
	cursor: pointer;
}
/* line 104, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle.ngrs-over i {
	background-position: 50% 50%;
}
/* line 109, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle.ngrs-down {
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
/* line 120, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle-min i {
	/*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFNJREFUeNpiYMAEXEDsA+OwoEnKALETEHOgK2AEYhMgNkQ3DqSAB6pLAot1DExIJmAFzED8C4hvQdnIppyFKYCBp0D8CohloVafxWUqN7I3AQIMAKw6B24pOi8lAAAAAElFTkSuQmCC");*/
}
/* line 127, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle-max i {
	/*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFdJREFUeNpiYEAAHyDmYkADzEhsByBWA+K3QPwJmwJjIGYBYlUgZgLi59gUwIAkEEsD8VMmBtyAkQFqJDZwAYjPAPE/dAU/gHg/ED/GpgvkTW50QYAAAwADfwrM5sqplgAAAABJRU5ErkJggg==");*/
}
/* line 137, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-value {
	position: absolute;
	top: 100%;
	left: 0;
	padding: 5px 0 0 0;
	font-size: 16px;
	font-size: 1.6rem;
	color: #e5e5e5;
}
/* line 145, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-value.ngrs-value-max {
	left: auto;
	right: 0;
	text-align: right;
}
/* line 152, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-handle-min-down .ngrs-value-min, .ngrs-range-slider.ngrs-handle-max-down .ngrs-value-max {
	color: #a5a5a5;
}
/* line 160, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-attached-handles {
	margin: 0 9px;
	position: relative;
/*------------------------------------*\
  ATTACHED VALUE RUNNER LABELS
  \*------------------------------------*/
}
/* line 167, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-attached-handles .ngrs-value {
	text-align: left;
}
/* line 172, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-attached-handles .ngrs-value > div {
	margin: 10px 0 0 -50%;
}
/* line 181, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical {
	width: 28px;
	margin: 10px auto;
/*------------------------------------*\
  RUNNER
  \*------------------------------------*/
/*------------------------------------*\
  ATTACHED VALUE RUNNER
  \*------------------------------------*/
/*------------------------------------*\
  JOIN
  \*------------------------------------*/
/*------------------------------------*\
  HANDLE
  \*------------------------------------*/
/*------------------------------------*\
  HANDLE SPECIFICS
  \*------------------------------------*/
/*------------------------------------*\
  VALUE LABELS
  \*------------------------------------*/
/*------------------------------------*\
  VERTICAL LEFT SLIDER
  \*------------------------------------*/
/*------------------------------------*\
  VERTICAL RIGHT SLIDER
  \*------------------------------------*/
}
/* line 189, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-runner {
	margin: 9px 0;
	height: 300px;
	width: 18px;
}
/* line 199, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value-runner.ngrs-attached-handles {
	position: absolute;
	top: 0;
	left: 100%;
	bottom: 0;
	margin: 9px 0;
}
/* line 212, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-join {
	width: 8px;
	height: auto;
	top: 0;
	bottom: 100%;
	left: 50%;
	right: auto;
	margin: 0 0 0 -4px;
}
/* line 226, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle {
	width: 100%;
	height: 18px;
	margin: -9px 0 0 0;
}
/* line 237, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle-min i {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFFJREFUeNpiYEAFPFAMB0xIbEYgdoJiRpggM5ICUyBWhZoA0vgMWYEsENsg6ZQE4ldA/AmkkguIHZGNhQKQGBfIBHcgFmTABCxALMJAMQAIMAAcNgVQJ7t7JQAAAABJRU5ErkJggg==");
}
/* line 244, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle-max i {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeNpiYKAUMAKxDxBL4ZB/xgQk9gHxDyySILF9zEDiNxC/A2JVNAW7gfgtM5TzCYhZgFgCyr8IxNdADGZk+4BYGoi/APEBIP6PzVE8UAwHAAEGAArIDvzRFIA6AAAAAElFTkSuQmCC");
}
/* line 254, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value {
	top: 0;
	left: 100%;
	padding: 0 0 0 5px;
}
/* line 259, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value.ngrs-value-max {
	top: auto;
	bottom: 0;
	right: auto;
	text-align: left;
}
/* line 269, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-attached-handles .ngrs-value > div {
	margin: -50% 0 0 0;
}
/* line 279, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-left {
	margin: 10px 0;
}
/* line 287, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right {
	margin: 10px 0 10px auto;
/*------------------------------------*\
  VALUE LABELS
  \*------------------------------------*/
}
/* line 294, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value {
	left: auto;
	right: 100%;
	padding: 0 5px 0 0;
	text-align: right;
}
/* line 300, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value.ngrs-value-max {
	text-align: right;
}
/* line 306, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value-runner.ngrs-attached-handles {
	left: 0;
}
/* line 318, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-focus {
/*  border-color: rgba(82, 168, 236, 0.8);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);*/
}
/* line 329, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled, .ngrs-range-slider.ngrs-disabled.ngrs-focus {
	border-color: #ddd;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* line 335, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-handle {
	background: #fff;
	border-color: #ddd;
}
/* line 339, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-handle i {
	background: none !important;
	cursor: default;
}
/* line 345, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-join {
	background: #ddd;
}
/* line 349, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-value {
	color: #ddd;
}

/*------------------------------------*\
TOUCH STATE
\*------------------------------------*/
/* line 361, scss/_rangeSlider.scss */
body.ngrs-touching {
	-ms-touch-action: none;
}