<div class="main col-sm-12 col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3">
	<div id="user-library" class="row-games">
		<h2 class="page-heading">My library <span class="games-filter-number">({{}})</span></h2>
		<!-- uses Angular's directive ng-repeat to create a loop through the array of objects defined in $scope.games -->
		<div ng-repeat="game in library" class="game-card col-xs-6 col-sm-3 col-md-3 col-lg-2">
			<a href class="thumbnail" ng-click="show(game.id)" ui-sref="home.detail({id: game.id})">
				<!-- the image name is the one that has been uploaded to the website, whilte the thumb_imagename is the one that has been resized by the backend of the CMS -->
				<img src="img/thumb_{{game.image}}" class="game-img" />
				<div class="details caption">
					<p class="game-name">{{game.name}}</p>
				</div>
			</a> 
		</div><!-- end .game-card -->
	</div><!-- end #user-library -->
</div><!-- end .main -->