<div class="main col-sm-12 col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3">
	<!-- <div ng-controller="FilterController" ng-init="showAcordeon = 0">
		<div class="well" ng-repeat="(key, value) in filter" ng-hide="showAcordeon===0"> 
			<div class="row" ng-init="limit = filterLimit">
				<div class="col-md-10">
					<div class="col-md-4" ng-repeat="currentKey in value | limitTo: limit">
						<div class="input-group ">
							<span class="">
								<input type="checkbox" value="currentKey.name" ng-model="currentKey.selected" ng-click="includeTag(currentKey.name)" ></input>
							</span>
							<span class="">{{currentKey.name }}</span>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="col-md-12" ng-hide="limit===value.length" ng-click="limit = value.length">
						<span class="label label-default">Show more</span>
					</div>
					<div class="col-md-12" ng-hide="limit<value.length" ng-click="limit = filterLimit">
						<span class="label label-default">Show less</span>
					</div>
				</div> 
			</div>
		</div>
		<a href="#" class="accordion-filter-toggle" ng-hide="showAcordeon===0" ng-click="showAcordeon = 0"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span> Hide these boring Filters</a>
	<a href="#" class="accordion-filter-toggle" ng-hide="showAcordeon===1" ng-click="showAcordeon = 1">
	<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> Show me the advanced filters</a>
		
</div> --><!-- end ng-controller -->

<div id="matches" class="row-games">
	<h2 class="page-heading">Games <span class="games-filter-number">({{filteredGames.length}})</span></h2>

	<div id="questionsFilter" class="row question-filter">
		<a href="#" class="col-xs-2 col-sm-3 col-md-3 col-lg-3 question-navigation-back" ng-click="changeQuestion(0)">
			<span class="question-link-back" ng-click="changeQuestion(0)">
				<span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="question-link-text">Back</span>
			</span>
		</a>
		<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
			<p class="question-text">Would you like to play a game {{questionModel[questionNumber].question}}</p>
			<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
				<a href="#" class="btn btn-yes" role="button" ng-click="includeTags(1)">Yes</a>
				<a href="#" class="btn btn-no" role="button" ng-click="includeTags(0)">Nope</a>
			</div><!-- end btn-group -->
		</div>
		<a href="#" class="col-xs-2 col-sm-3 col-md-3 col-lg-3 question-navigation-skip" ng-click="changeQuestion(1)">
			<span class="question-link-skip" ><span class="question-link-text">Skip</span> <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true" ng-click="changeQuestion(0)"></span>
			</span>
		</a>
	</div><!-- end #questionsFilter -->


	<!-- uses Angular's directive ng-repeat to create a loop through the array of objects defined in $scope.games -->
	<div ng-repeat="game in filteredGames = (games | filter:tagFilter | filter:ageFiltering | filter:timeFiltering | filter:playerFiltering | filter:complexityFiltering | orderBy:'-compatRating') " class="game-card col-xs-6 col-sm-3 col-md-3 col-lg-3 " >
	
		<div class="game-buttons" ng-show="isLoggedIn()">
			<a href="#" class="game-add-button" ng-hide="inLibrary(game.id)" ng-click="addToLibrary(game.id, game.name, game.image, 0)">
				<span class="glyphicon glyphicon-plus"></span></a>
			<span class="game-check-button glyphicon glyphicon-ok" ng-show="inLibrary(game.id)"></span>
			<a href="#" class="game-remove-button" ng-show="inLibrary(game.id)" ng-click="removeFromLibrary(game.id)"><span class="glyphicon glyphicon-remove"></span></a>
		</div>
	
	
	
		<a href class="thumbnail"  ng-click="show(game.id)" ui-sref=".detail({id: game.id})">
			<!-- the image name is the one that has been uploaded to the website, whilte the thumb_imagename is the one that has been resized by the backend of the CMS -->
			<img src="img/thumb_{{game.image}}" class="game-img" />
			<div class="details caption">
				<p class="game-name">{{game.name}}</p>
				<div class="progress"> <!-- compatibility rating bar-->
					<div ng-class='progBarColor(game.compatRating)' role="progressbar" aria-valuenow="{{game.compatRating}}" 
					aria-valuemin="0" aria-valuemax="100" style="width: {{game.compatRating}}%;">
					{{game.compatRating}}%
				</div> 
			</div><!-- end progress bar-->
		</div> <!-- end details-->
	</a> 
</div><!-- end .game-card -->
</div><!-- end #matches -->
</div><!-- end .main -->