<div class="row">
  <h1>Name of Game</h1>
</div>
<div class="row details">
  <div class:"col-md-4">
    <img src="./img/dominion_md.jpg" class="gameImage" />
  </div>
  <div class="col-md-8 descriptionText">
      <h3>Description:</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>

<div ng-controller="ratingController">
  <h4>Rate This Game!</h4>
  <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
  <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
  <button class="btn btn-sm btn-default" ng-click="isReadonly = ! isReadonly">Add to my Library</button>
  <hr />
</div>