<div class="main col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 ">
		<h1>{{game.name}}</h1>
		<rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
		<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
		<hr />

	<div class="row gameDetails">
		<div class="col-md-2">
			<img src="./img/thumb_{{game.image}}" class="gameImage" />
			<button class="btn btn-sm btn-default" ng-click="isReadonly = ! isReadonly">Add to my Library</button>
		</div>
		<div class="col-md-3">
			<div class="gameDetail">
				<div class="col-md-4">
					<img src="./img/icon/players.svg" class="icon" />
				</div>
				<div class="col-md-8">
					<div class="row">Players:</div>
					<div class="row">{{game.min_players}}-{{game.max_players}}</div>
				</div>
			</div>
			<div class="gameDetail">
				<div class="col-md-4">
					<img src="./img/icon/setup.svg" class="icon" />
				</div>
				<div class="col-md-8">
					<div class="row">Setup:</div>
					<div class="row">{{game.preparation_time}}</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="gameDetail">
				<div class="col-md-4">
					<img src="./img/icon/age.svg" class="icon" />
				</div>
				<div class="col-md-8">
					<div class="row">Min-Age:</div>
					<div class="row">{{game.min_age}}</div>
				</div>
			</div>
			<div class="gameDetail">
				<div class="col-md-4">
					<img src="./img/icon/time.svg" class="icon" />
				</div>
				<div class="col-md-8">
					<div class="row">Play-Time:</div>
					<div class="row">{{game.duration}}</div>
				</div>
			</div>
		</div>
	<div class="row gameAttributes">
		<div class="row">
			<h4>Type</h4>
		</div>
		<div class="row">
		</div>
	</div><!-- end .gameAttributes -->
</div><!-- end .row.gameDetails -->
</div><!-- end .main -->