	<!-- basic index.html from bootstrap Dashboard example -->
	<!-- header -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container-fluid" >
        <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tabletop Match</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
      </ul>
      <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
      </form>
  </div>
</div>
</nav>

<div class="container-fluid">
 <div class="row" >
    <div id="sidebarFilters" class="col-sm-3 col-md-3 sidebar">
        
       <div id="playersFilter" ng-controller="playersController">
          <h3>Number of players</h3>

          <button ng-click="numberOfPlayers = numberOfPlayers -1"  id="minusButton" class="btn btn-primary" type="button">
             <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
         </button>

         <span id="numberOfPlayers">{{ numberOfPlayers }}</span>

         <button ng-click="numberOfPlayers = numberOfPlayers +1" id="plusButton" class="btn btn-primary" type="button">
             <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
         </button>
     </div><!-- end #playersFilter -->

    <div id="ageFilter" ng-controller="ageController">
      <h3>Minimum age</h3>    
      <div range-slider min="ageLimit.min" model-min="ageLimit.userMin" max="ageLimit.max" model-max="ageLimit.userMax" pin-handle="max" step="2" attach-handle-values="true"></div>
    </div>
  
<div id="timeFilter" ng-controller="timeController">
   <h3>Time</h3>
   <div range-slider min="timeLimit.min" max="timeLimit.max" model-min="timeLimit.userMin" model-max="timeLimit.userMax" step="10" attach-handle-values="true"></div>
</div>
        
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
          <div ng-controller="filterController" ng-init="showAcordeon = 0">
            <div class="well" ng-repeat="(key, value) in filter" ng-hide="showAcordeon===0"> <!-- each row of tags -->
              <div class="row" ng-init="limit = filterLimit">
               <div class="col-md-3" ng-repeat="currentKey in value | limitTo: limit">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input type="checkbox" value="currentKey.name" ng-model="currentKey.selected" ></input>
                    </span>
                    <span class="input-group-addon">{{currentKey.name }}</span>
                  </div>
               </div>
               <div class="row">
                 <div class="col-md-4" ng-hide="limit===filter.themes.length" ng-click="limit = filter.themes.length"><span class="label label-default">Show more</span>
                 </div>
                 <div class="col-md-4" ng-hide="limit<filter.themes.length" ng-click="limit = filterLimit">
                 <span class="label label-default">Show less</span></div>
                </div>
              </div>
            </div>
            <div ng-hide="showAcordeon===0" ng-click="showAcordeon = 0">
            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>HIDE FILTERS</div>
            <div ng-hide="showAcordeon===1" ng-click="showAcordeon = 1">
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>SHOW FILTERS</div>
          </div>

<h1 class="page-header">Games</h1>

<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
     <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
     <h4>Label</h4>
     <span class="text-muted">Something else</span>
 </div>
 <div class="col-xs-6 col-sm-3 placeholder">
     <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
     <h4>Label</h4>
     <span class="text-muted">Something else</span>
 </div>
 <div class="col-xs-6 col-sm-3 placeholder">
     <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
     <h4>Label</h4>
     <span class="text-muted">Something else</span>
 </div>
 <div class="col-xs-6 col-sm-3 placeholder">
     <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
     <h4>Label</h4>
     <span class="text-muted">Something else</span>
 </div>
</div>
<div id="matches" ng-controller="gamesController">
<h2 class="sub-header">Games</h2>
    <!-- uses Angular's directive ng-repeat to create a loop through the array of objects defined in $scope.games -->
        <div ng-repeat="game in games track by $index" class="gameInstance">
             <a href ng-click="show(game.id)">
             <!-- the image name is the one that has been uploaded to the website, whilte the thumb_imagename is the one that has been resized by the backend of the CMS -->
                <!-- <img src="img/thumb_{{game.image}}" class="gameImg" /> -->
            
            <div class="details">
                <h3>{{game.name}}</h3>
                <p class="year">{{game.publisher}}</p>
            </div>
            </a> 
        </div>
</div>
<div class="row">
  <h1>Name of Game</h1>
</div>
<div class="row details">
  <div class:"col-md-4">
     <img src="./img/dominion_md.jpg" id="gameImage" />
 </div>
 <div class="col-md-8" id="detailsText">
     <h3>Description:</h3>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 </div>
</div>

<div ng-controller="ratingController">
 <h4>Rate This Game!</h4>
 <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
 <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
 <button class="btn btn-sm btn-default" ng-click="isReadonly = ! isReadonly">Add to my Library</button>
 <hr />
</div>
</div>
</div>
