<div id="sidebarFilters" class="col-sm-12 col-md-3 col-lg-3 sidebar">
  <div class="row gameAttributes">
		<div class="col-md-12">
			<div class="row">
				<hr />
				<h4>Type</h4>
				<div ng-repeat="attribute in game.attributes | filter:{type: 'type'}">
					{{attribute.name}}
				</div>
			</div>
			<div class="row">
				<hr />
				<h4>Category</h4>
				<div ng-repeat="attribute in game.attributes | filter:{type: 'category'}">
					{{attribute.name}}
				</div>
			</div>
			<div class="row">
				<hr />
				<h4>Mechanics</h4>
				<div ng-repeat="attribute in game.attributes | filter:{type: 'mechanics'}">
					{{attribute.name}}
				</div>
			</div>
			<div class="row">
				<hr />
				<h4>Theme</h4>
				<div ng-repeat="attribute in game.attributes | filter:{type: 'theme'}">
					{{attribute.name}}
				</div>
			</div>
		</div>
	</div><!-- end .gameAttributes -->
</div>