<div id="sidebarFilters" class="col-sm-12 col-md-3 col-lg-3 sidebar" ng-controller="sidebarController">

	<div id="playersFilter" >
		<h3>Number of players</h3>

		<div range-slider min="playerLimit.min" model-min="playerLimit.userMin" max="playerLimit.max" model-max="playerLimit.userMax" pin-handle="min" step="1" attach-handle-values="true" ng-click="includePlayers(playerLimit.userMax)" ng-model="playerLimit" ></div>
	</div><!-- end #playersFilter -->

	<div id="ageFilter" >
		<h3>Minimum age</h3>    
		<div range-slider min="ageLimit.min" model-min="ageLimit.userMin" max="ageLimit.max" model-max="ageLimit.userMax" pin-handle="min" step="2" attach-handle-values="true" ng-click="includeAge(ageLimit.userMax)" ng-model="ageLimit" ></div>
		<!-- <div>this is ageFilter here: {{ageFilter}}</div> -->
	</div> <!-- end #ageFilter -->

	<div id="timeFilter">
		<h3>Time</h3>
		<div range-slider min="timeLimit.min" max="timeLimit.max" model-min="timeLimit.userMin" model-max="timeLimit.userMax" step="10" attach-handle-values="true" ng-click="includeTime(timeLimit.userMin, timeLimit.userMax)" ng-mousemove="timeLimit"></div>

		<!-- <div>this is timeFilter here: {{timeFilter}}</div> -->
	</div><!-- end #timeFilter -->

	<div id="complexityFilter">
		<h3>Complexity</h3>
		<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
      		<a href="#" class="btn btn-default {{easyClass}}" role="button" ng-click="includeComplexity(1)">Easy</a>
      		<a href="#" class="btn btn-default {{mediumClass}}" role="button" ng-click="includeComplexity(2)">Medium</a>
      		<a href="#" class="btn btn-default {{complexClass}}" role="button" ng-click="includeComplexity(3)">Difficult</a>
      		<a href="#" class="btn btn-default {{allClass}}" role="button" ng-click="includeComplexity(0)">All</a>
    	</div><!-- end btn-group -->
	</div><!-- end #complexityFilter -->
</div><!--  end #sidebarFilters -->